li {
  cursor: pointer;
  font-size: 14px;
}

li:hover {
  display: inline-block;
  border: 1px black solid;
  padding: 2px;
}

.category-wrapper {
  margin-left: 10px;
  min-width: 250px;
}

@media (max-width: 750px) {
  .category-wrapper {
    width: 50%;
  }
}
